<!--
    This will bring up a single view with a similar URL to this:
    http://localhost:49984/Account/ForgotPassword

    
    
    -->
<!--It's important that we identify the right model/ViewModel here.
    Try deleting out the green and ther period. Start retyping and see what other models show up.-->
@model MVCDemo.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Enter your email.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <!--This is of course asking for the users email. It's using the model info. 
            Test: Try backspacking the m.Email. Retype it and intellisense will bring up the Email. 
            It can do this because we're using the proper ViewModel.
            What happens when we change the ViewModel --> 
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" }) 
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <!--This, of course, is your bootstrap button. Change the name in value.-->
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Email Link" />
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
